.profile {
  width: 889px;
  box-sizing: border-box;
  height: 9.86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 9px;
}

@media screen and (max-width: 959px) {
  .profile {
    flex-direction: column;
    height: 286px;
    width: 282px;
  }
}