.form__description {
  width: 358px;
  height: 27px;
  margin: 0 auto 48px;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #bcbcc4;
}

@media screen and (max-width: 959px) {
  .form__description {
    width: 238px;
    margin: 0 auto 45px;
  }
}