.profile__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 542px;
}

@media screen and (max-width: 959px) {
  .profile__description {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}