.element__delete {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 18px;
  height: 19.3px;
}

.element__delete:hover {
  cursor: pointer;
  opacity: .6;
}