.element__button {
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 22px;
  height: 19px;
  align-self: center;
  margin-right: 6px;
  background-color: #fff;
}

.element__button:hover {
  cursor: pointer;
  opacity: .5;
}

.element__button:active {
  background-image: url(../../../images/active-heart.svg);
}