.popup {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  transition: .4s linear all;
}